/*
  #5B3E2C
  #AD8369
  #69891E
  #E2DCBE
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #5B3E2C;
}
h1 {
  color:  #E2DCBE;
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
}
.appBar{
  margin: auto;
  text-align: center;
}
.button {
  color:  #69891E;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.map {
  margin-left: 3%;
  margin-bottom: 5%;
  width: 45%;
  float: left;
}
.addFarm {
  width: 45%;
  margin-left: 3%;
  padding-bottom: 3em;
  float: left
}
  .paper {
    padding: 2em;
  }
.listOfFarms {
  width: 40%;
  text-align: center;
  color: white;
  float: right;
  margin-right: 3%;
}
  .eachFarm {
    font-size: 1.5em;
    padding-bottom: 1em;
    background-color: #69891E;
    margin: auto;
    margin: .5em;
    border-style: solid;
    border-width: .8em;
    border-color: #E2DCBE;
    border-radius: 2em;

  }
    .farmImage img {
      max-height: 5em;
      max-width:  10em;
    }
